idf_component_register(
    SRCS                {% for src in srcs %} "{{src}}" {% endfor %}
    INCLUDE_DIRS        {% for inc_dir in inc_dirs %} "{{inc_dir}}" {% endfor %}
    REQUIRES            {% for require in requires %} "{{require}}" {% endfor %} esp32
    WHOLE_ARCHIVE
)

{% if cflags|default([]) %}
target_compile_options(${COMPONENT_LIB} PRIVATE 
    {% for cflag in cflags %} "{{cflag}}" {% endfor %}
)
{% endif %}
