
*.hex
*.map
*.lst
*.scvd
# *.uvoptx
*.uvguix.*
*.emProject
*.emSession
.vscode
.vs
*.o
*.d
*.exe

# Forder
Objects
build
DebugConfig
Listings
Output
Debug
Exe
Obj
cmake-build-debug
CubeMx

# File
JLinkLog.txt
setting.ini
.sconsign.dblite
kconfig-mconf

test.py
xfconfig
xfconfig.old


# vscode
.vscode
*.code-workspace

# 存放垃圾代码
temp

# python 缓存
__pycache__
xf.egg-info
xf_build.egg-info

# sdk 内的厂商支持包
sdks/*
!sdks/README.md

boards/XFKconfig
