[submodule "components/xf_utils/xf_utils"]
	path = components/xf_utils/xf_utils
	url = https://github.com/x-eks-fusion/xf_utils.git
[submodule "components/xf_heap/xf_heap"]
	path = components/xf_heap/xf_heap
	url = https://github.com/x-eks-fusion/xf_heap.git
[submodule "components/xf_log/xf_log"]
	path = components/xf_log/xf_log
	url = https://github.com/x-eks-fusion/xf_log.git
[submodule "components/xf_init/xf_init"]
	path = components/xf_init/xf_init
	url = https://github.com/x-eks-fusion/xf_init.git
[submodule "components/xf_hal/xf_hal"]
	path = components/xf_hal/xf_hal
	url = https://github.com/x-eks-fusion/xf_hal.git
[submodule "components/xf_task/xf_task"]
	path = components/xf_task/xf_task
	url = https://github.com/x-eks-fusion/xf_task.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/Im-eks-dev/doxygen-awesome-css.git
[submodule "components/xf_osal/xf_osal"]
	path = components/xf_osal/xf_osal
	url = https://github.com/x-eks-fusion/xf_osal.git
[submodule "components/xf_sys/xf_sys"]
	path = components/xf_sys/xf_sys
	url = https://github.com/x-eks-fusion/xf_sys.git
[submodule "components/xf_fal/xf_fal"]
	path = components/xf_fal/xf_fal
	url = https://github.com/x-eks-fusion/xf_fal.git
[submodule "components/xf_vfs/xf_vfs"]
	path = components/xf_vfs/xf_vfs
	url = https://github.com/x-eks-fusion/xf_vfs.git
[submodule "components/xf_ble/xf_ble"]
	path = components/xf_ble/xf_ble
	url = https://github.com/x-eks-fusion/xf_ble.git
